{% extends "master.html"%}

	{% include 'header.html' %}
  	{% include 'loginDiv.html' %}
	{% include 'search.html' %}

{%block body%}
<br/>
<br/>
<br/>
<div class="loginForm" align="center">
	<form method ="post">
        <input name="userNameLogin" class="rounded" type="text" value="userName" placeholder="Login"> <br/> <br/>
        <input name="password" class="rounded" type="text" value="password" placeholder="Password"> <br/> <br/>
   		<div id=LoginButtons class="LoginButtons">
		<input name="loginButton" class="searchButton spacer" type="submit" value="Login">
   			
   		
    </form>
    		<form action="/register"><button class="searchButton spacer">Register</button></form>
    	</div>
</div>

{%endblock%}