/*
	master css to be implemented into the all pages;

*/

#body
{
	/*background-color:#0F0F0F;*/
	margin: 2%;
	padding: 1%;
	background: rgba(255,255,255,.5);
	color: #000000;
	text-align: center;
	/*color:rgb(193,191,191);*/

}
div
{
    
    font-family: 'Julius Sans One', sans-serif;
}
div a
{
    text-decoration: none;    
}

#main
{
	
	
}
            
.backgroundImg
{
	position: absolute;
	right: 0%;
	top: -800px;
	z-index: -1;
	
	
}
.loginForm
{
	position: absolute;
	right: 5%;
	top: 10%;
	
}